/* Menu déroulant ------------------------------------------------------------------------------------- */

#dropdownmenu{
	float : left;
	position : fixed;
	top : 3%;
}
#dropdownmenu ul {

 padding:0;
 margin:0;
 list-style-type:none;
 }
 
#dropdownmenu li 
{
	
	list-style-type: none; 
	position: relative; 
	width: 160px;
	height : 1.5em; 
	background-color: #358EE6; 
	padding: 2px; 
	border-radius :3px;
	border : 1px outset white;
	text-align : center;
	font-weight: bold;
	color: white;
	
	
}

 #dropdownmenu ul ul 
{
	display: none; 
	left: 165px; 
	top: -1px; 
	position: absolute; 
	margin:0px; 
	padding: 0px; 
	}



 #dropdownmenu li:hover ul.step2,  #dropdownmenu li li:hover ul.step3 
{
	display:block;
}

#dropdownmenu li:hover 
{
	background-color: #87D5ED;
	border : 1px inset white;
}

#dropdownmenu a
{
	text-decoration : none;
	color: white;
}


/* Forms --------------------------------------------------------------------------------------- */



#connectionForm {
	display : inline-block;
	vertical-align: bottom;
	margin-left : 25%;

	
	
}

#normalForm {
	margin-left: auto;
    margin-right: auto;
    width : 40%;

	
}

#normalFormPriv {
	margin-left: auto;
    margin-right: auto;
    width : 60%;

	
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
    
}




form .required {
    color: #c00;
}
form .error {
    color: #900;
}
form .success {
    color: #090;
}
form .info {
    font-style: italic;
    color: #E8A22B;
}

p.hidden
{
	display:none;
}

/* Text --------------------------------------------------------------------------------------- */
body
{
	font-family : Tahoma ,Geneva, sans-serif;
	color : #3F4F5E;
}

h1, h3 
{
	 text-align : center;
	 color : #3F4F5E;
}

.important
{
	color: #0568CD;
    font-size: 1.22em;
    font-weight : bold;
}



dd{
	text-indent: 5em;
}

ul.prof
{
	padding-left: 8em;
}
/* Pictures --------------------------------------------------------------------------------------- */
.stikom {

	width : 20%;
}

/* Buttons --------------------------------------------------------------------------------------- */
.button 
{	
	text-decoration : none;
}

input, select
{
	font-family : Tahoma ,Geneva, sans-serif;
	font-size : 15px;
	color : #3F4F5E;
}


/* Table -------------------------------------------------------------------------------------*/
table{
	border-collapse: collapse;
	margin: 0 auto;
	
	
}
table.profcourses
{
	postion : absolute;
	margin-left: 0;
}

tr.pair{
	background-color: #efefef;
}
tr.impair{
	background-color: #fff;	
}
th{
	color: #0568CD;
	border: 1px solid #0568CD;
	padding: 5px;
}
th.action{
	border: 1px solid #900;
	color: #900;
}
td{
	border: 1px solid #ddd;
	padding: 5px;
}
td.action{
	text-align: center;
}



