/* Menu déroulant ------------------------------------------------------------------------------------- */

#dropdownmenu{
	float : left;
	position : fixed;
	top : 25%;
}
#dropdownmenu ul {

 padding:0;
 margin:0;
 list-style-type:none;
 }
 
#dropdownmenu li 
{
	
	list-style-type: none; 
	position: relative; 
	width: 160px; 
	background-color: #E0E0E0; 
	padding: 2px; 
	border : 1px outset black;
}

 #dropdownmenu ul ul 
{
	display: none; 
	left: 165px; 
	top: -1px; 
	position: absolute; 
	margin:0px; 
	padding: 0px; 
	border: 1px solid #B0B0B0;
	}



 #dropdownmenu li:hover ul.step2,  #dropdownmenu li li:hover ul.step3 
{
	display:block;
}

#dropdownmenu li:hover 
{
	background-color: #FFFF70;
	border : 1px inset black;
}

#dropdownmenu a
{
	text-decoration : none;
	color : black;
}


/* Forms --------------------------------------------------------------------------------------- */



#connectionForm {
	display : inline-block;
	vertical-align: bottom;
	margin-left : 25%;
	
	
}

#normalForm {
	margin-left: auto;
    margin-right: auto;
    width : 40%;
	
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}


form .required {
    color: #c00;
}
form .error {
    color: #900;
}
form .success {
    color: #090;
}
form .info {
    font-style: italic;
    color: #E8A22B;
}

/* Text --------------------------------------------------------------------------------------- */


h1, h3 
{
	 text-align : center;
}

/* Pictures --------------------------------------------------------------------------------------- */
.stikom {
	display : inline-block;
	vertical-align: bottom;
	position : relative;
	margin-right : 20%;	
	width : 20%;
}

/* Table -------------------------------------------------------------------------------------*/
table{
	border-collapse: collapse;
}
tr.pair{
	background-color: #efefef;
}
tr.impair{
	background-color: #fff;	
}
th{
	color: #0568CD;
	border: 1px solid #0568CD;
	padding: 5px;
}
th.action{
	border: 1px solid #900;
	color: #900;
}
td{
	border: 1px solid #ddd;
	padding: 5px;
}
td.action{
	text-align: center;
}