<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DisplayUsersFilter</filter-name>
        <filter-class>filters.DisplayUsersFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DisplayUsersFilter</filter-name>
        <url-pattern>/displayUsers</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>AddGroupFilter</filter-name>
        <filter-class>filters.AddGroupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddGroupFilter</filter-name>
        <url-pattern>/groupCreation</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>AddCourseFilter</filter-name>
        <filter-class>filters.AddCourseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddCourseFilter</filter-name>
        <url-pattern>/courseCreation</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>CourseSubscriptionFilter</filter-name>
        <filter-class>filters.CourseSubscriptionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CourseSubscriptionFilter</filter-name>
        <url-pattern>/inscriptionCourse</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>AddPrivFilter</filter-name>
        <filter-class>filters.AddPrivFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddPrivFilter</filter-name>
        <url-pattern>/privCreation</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>AddStudentFilter</filter-name>
        <filter-class>filters.AddStudentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddStudentFilter</filter-name>
        <url-pattern>/studentCreation</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>AddTeacherFilter</filter-name>
        <filter-class>filters.AddTeacherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddTeacherFilter</filter-name>
        <url-pattern>/teacherCreation</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>AddUserFilter</filter-name>
        <filter-class>filters.AddUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddUserFilter</filter-name>
        <url-pattern>/userCreation</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>KMeansFilter</filter-name>
        <filter-class>filters.KMeansFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>KMeansFilter</filter-name>
        <url-pattern>/kMeans</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>NaiveBayesFilter</filter-name>
        <filter-class>filters.NaiveBayesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NaiveBayesFilter</filter-name>
        <url-pattern>/naiveBayes</url-pattern>
    </filter-mapping>
    
     <filter>
        <filter-name>DataWarehouseFilter</filter-name>
        <filter-class>filters.DataWarehouseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DataWarehouseFilter</filter-name>
        <url-pattern>/dataWarehouse</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DisplayCoursesFilter</filter-name>
        <filter-class>filters.DisplayCoursesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DisplayCoursesFilter</filter-name>
        <url-pattern>/displayCourses</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DisplayGroupsFilter</filter-name>
        <filter-class>filters.DisplayGroupsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DisplayGroupsFilter</filter-name>
        <url-pattern>/displayGroups</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DisplayPrivsFilter</filter-name>
        <filter-class>filters.DisplayPrivsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DisplayPrivsFilter</filter-name>
        <url-pattern>/displayPrivs</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DisplayStudentsFilter</filter-name>
        <filter-class>filters.DisplayStudentsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DisplayStudentsFilter</filter-name>
        <url-pattern>/displayStudents</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DisplayTeachersFilter</filter-name>
        <filter-class>filters.DisplayTeachersFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DisplayTeachersFilter</filter-name>
        <url-pattern>/displayTeachers</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DeleteStudentFilter</filter-name>
        <filter-class>filters.DeleteStudentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DeleteStudentFilter</filter-name>
        <url-pattern>/deleteStudent</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DeleteUserFilter</filter-name>
        <filter-class>filters.DeleteUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DeleteUserFilter</filter-name>
        <url-pattern>/deleteUser</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DeleteCourseFilter</filter-name>
        <filter-class>filters.DeleteCourseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DeleteCourseFilter</filter-name>
        <url-pattern>/deleteCourse</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>DeleteTeacherFilter</filter-name>
        <filter-class>filters.DeleteTeacherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DeleteTeacherFilter</filter-name>
        <url-pattern>/deleteTeacher</url-pattern>
    </filter-mapping>
    
    
    
	<function>
        <name>contains</name>
        <function-class>utilities.Utility</function-class>
        <function-signature>boolean contains(java.util.List,java.lang.Object)
        </function-signature>
    </function>
</web-app>